@import url('https://fonts.googleapis.com/css?family=Exo');

* {
    font-family: 'Exo', sans-serif;
  }

/* Style the navigation bar */
.navbar {
  width: 100%;
  color: black;
  background-color: #000000;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 10px 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #840032;
}

/* Current/active navbar link */
.active {
  background-color: #840032;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

html { 
  background: url(wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
}

p {
  color: white;
}

br {
  color: white;
}

form {
  color: white;
}

h2{
  color: white;
}

.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color: transparent;
  padding: 20px;
  margin-top: 0px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) { 
  .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}